@use "variables" as *;

footer {
    .footerMainContainer {
        background-color: $red;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        img {
            max-width: 100%;
        }
        .footerTextContainer {
            display: flex;
            h5 {
                font-size: clamp(1.1rem, 2.5vw, 4rem); 
                padding: 0px 5%;
                margin-top: 30px;
                margin-bottom: 20px;
                span {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    margin-top: 10px;
                    font-size: clamp(1rem, 5vw, 1.2rem);
                }
            }
            .socialMedias {
                display: flex;
                justify-content: flex-end;
                align-items: end;
                margin-right: 30px;
                li {
                    margin: 10px;
                    font-size: 2rem;
                    a {
                        color: $white;
                        &:hover {
                            color: $turquoise;
                        }
                    }
                }
            }   
        }
    }
    
    .footerContributions {
        background-color: $black;
        text-align: center;
        padding: 12px;
        p {
            font-family: $subFont;
            letter-spacing: 0.8px;
            font-size: 0.8rem;
            line-height: 10px;
            span {
                font-size: 1.3rem;
                line-height: 30px;
            }
            a {
                color: $white;
                text-decoration: none;
                transition: 0.3s;
                &:hover {
                    color: $hotPink;
                }
                &:focus {
                    color: $hotPink;
                }
            }
        }
    }       
}

