@use "variables" as *;

main {
  .quiz {
    background-image: url(../assets/mainImgOpt1.png);
    background-size: cover;
    min-height: 105vh;
    .mainTextContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      padding-top: 80px;
      h4,
      li {
        background-color: #4d424989;
        font-family: $subFont;
        font-weight: normal;
      }
      .quoteContainer {
        padding: 30px;
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 0.25em;
        &::before {
          content: open-quote;
          position: absolute;
          top: 0;
          left: 0;
          font-size: clamp(3rem, 5vw, 4rem);

        }
        &::after {
          content: close-quote;
          position: absolute;
          bottom: -5%;
          right: 0;
          font-size: clamp(3rem, 5vw, 4rem);
        }
      }
      .answersContainer {
        display: flex;
        justify-content: center;
        padding-left: 0px;
        li {
          flex-basis: 50%;
          max-width: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          border-radius: 0.25em;
          margin: clamp(10px, 2vw, 30px);
          &:hover {
            background-color: $turquoise;
          }
          &:focus {
            background-color: $turquoise;
          }
        }
      }
    }
  }
}

.hiddenMain {
  display: none;
  background-image: url(../assets/ruPaulMainStage.jpeg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-bottom: 5%;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    .confirmationContainer {
      margin-top: 40px;
      background-color: #675c6389;
      border-radius: 0.25em;
      p {
        font-size: clamp(1.1rem, 3vw, 2rem);
        padding: 0px 50px;
      }
    }
    .hiddenImgContainer,
    .hiddenButtonContainer,
    .hiddenLearnMoreContainer {
      flex-basis: 100%;
    }
    .hiddenImgContainer {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    #hiddenImg {
      width: 80%;
      max-width: 665px;
      min-width: 320px;
      object-fit: cover;
      border-radius: 2%;
      background-color: none;
      border: 2px solid #9f98a3b5;
      box-shadow: 15px 15px 45px -2px #9f98a3b5;
    }
    button {
      font-size: 1.5rem;
      color: $white;
      border: none;
      background-color: #59c9c5ac;
      &:hover {
        background-color: $turquoise;
      }
      &:focus {
        background-color: $turquoise;
      }
    }
    .hiddenLearnMoreContainer {
    position: absolute;
    bottom: 4%;
    right: 5%;  
    p {
      font-size: clamp(0.6rem, 2vw, 1rem);
      text-align: right;
      display: flex;
      justify-content: flex-end;
        a {
          border-radius: 50%;
          display: flex;
          width: 140px;
          height: 140px;
          text-align: center;
          justify-content: center;
          align-items: center;
          background-color: #e5007aa6;
          text-decoration: none;
          color: $white;
          &:hover {
            color: $turquoise;
          }
          &:focus {
            color: $turquoise;
          }
        }
      }
    }
  }
}
