@use "variables" as *;

// FONT-FAMILY

// Helvetica Neue MEDIUM EXTENDED 
@font-face {
    font-family:"Helvetica Neue";
    src: url('../fonts/helveticaNeue/helveticaNeueMediumExtended.ttf');
    font-weight: normal; 
}

// Helvetica Neue ULTRA LIGHT
@font-face {
    font-family:"Helvetica Neue Light";
    src: url('../fonts/helveticaNeue/helveticaNeueUltraLight.ttf');
    font-weight: light; 
}

// Noto Sans Mono
@font-face {
    font-family:"Noto Sans Mono";
    src: url('../fonts/notoSansMono/NotoSansMono-VariableFont_wdth,wght.ttf');
    font-weight: normal; 
}

// Montserrat Regular
@font-face {
    font-family:"Montserrat";
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
    font-weight: normal; 
}

// Montserrat Black
@font-face {
    font-family:"Montserrat";
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
    font-weight: bolder; 
}

html {
  font-size: 125%;
}

h1 {
    font-family: $logoFont;
    font-size: 6rem;
    color: $white;
    font-weight: bolder;
}

h2 {
    font-family: $subFont;
    line-height: 1.5;
    font-size: 2.5rem;
    color: $white;
}

h3, h4, h5, p {
    font-family: $bodyFont;
    color: $white;
}

h3 {
    line-height: 1.5;
    font-size: 3.5rem;
    margin: 0 auto;
}

h4 {
    line-height: 1.5;
    font-size: 2.5rem;
}

.button a, .answersContainer li, button {
    text-decoration: none;
    font-family: $bodyFont;
    color: $white;
    font-size: 1.5rem;

}
