// COLORS:
$white: #fff;
$red: #c93b3a;
$pink: #ff5ed5;
$turquoise: #59c9c5;
$gray: #4d4249;
$gold: #d1ac60;
$hotPink: #e5007c;
$black: #000;

// FONTS: 
$bodyFont: "Helvetica Neue";
$buttonFont: "Chalet New York";
$logoFont: "Noto Sans Mono";
