html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helveticaNeue/helveticaNeueMediumExtended.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/helveticaNeue/helveticaNeueUltraLight.ttf");
  font-weight: light;
}
@font-face {
  font-family: "Noto Sans Mono";
  src: url("../fonts/notoSansMono/NotoSansMono-VariableFont_wdth,wght.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraBold.ttf");
  font-weight: bolder;
}
html {
  font-size: 125%;
}

h1 {
  font-family: "Montserrat";
  font-size: clamp(2.7rem, 9vw, 6rem);
  color: #fff;
  font-weight: bolder;
}

h2 {
  font-family: "Noto Sans Mono";
  line-height: 1.5;
  font-size: clamp(1.6rem, 4vw, 2.5rem);
  color: #fff;
}

h3, h4, h5, p {
  font-family: "Helvetica Neue";
  color: #fff;
}

h3 {
  line-height: 1.5;
  font-size: clamp(1.8rem, 5vw, 3.5rem);
  margin: 0 auto;
}

h4 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  line-height: 1.5;
}

.button a, .answersContainer li, button {
  text-decoration: none;
  font-family: "Helvetica Neue";
  color: #fff;
  font-size: clamp(1.1rem, 3vw, 1.5rem);
}

.wrapper {
  max-width: 1728px;
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.button {
  padding: 18px 36px;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.25em;
}
.button:hover {
  background-color: rgba(229, 0, 122, 0.7058823529);
}
.button:focus {
  background-color: rgba(229, 0, 122, 0.7058823529);
}

ul {
  list-style: none;
}

header {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../assets/confessional1.jpeg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/confessional1.jpeg);
  background-position: top center;
  background-size: cover;
  height: max(100vh, 1200px);
}
header .logoImg {
  width: max(15%, 170px);
  margin-top: 50px;
  color: #fff;
}
header .logoImg:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}
header .logoImg:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

.headerTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 5%;
}
.headerTextContainer h1 .rainbow {
  background-image: -webkit-gradient(linear, right top, left top, from(#C16AF4), color-stop(#3D87F5), color-stop(#3DF5D0), color-stop(#88992B), color-stop(#C0852B), color-stop(#EB6A2C), to(#F53D3D));
  background-image: linear-gradient(to left, #C16AF4, #3D87F5, #3DF5D0, #88992B, #C0852B, #EB6A2C, #F53D3D);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: #fff 4px 5px;
}
.headerTextContainer h2 {
  background-color: rgba(77, 66, 73, 0.3882352941);
  padding: 20px;
  border-radius: 0.25em;
}
.headerTextContainer h2 span {
  text-transform: capitalize;
}
.headerTextContainer .button {
  margin: 40px 0px;
  background-color: none;
  border: 2px solid yellow;
  text-shadow: 0 0 0.125em hsla(0deg, 0%, 100%, 0.5), 0 0 0.8em yellow;
  -webkit-box-shadow: inset 0 0 0.9em 0 yellow, 0 0 0.8em 0 yellow;
          box-shadow: inset 0 0 0.9em 0 yellow, 0 0 0.8em 0 yellow;
  position: relative;
}
.headerTextContainer .button::before {
  content: "";
  position: absolute;
  background: yellow;
  top: 120%;
  left: 0;
  width: 100%;
  height: 50%;
  -webkit-transform: perspective(3em) rotateX(45deg);
          transform: perspective(3em) rotateX(45deg);
  -webkit-filter: blur(1em);
          filter: blur(1em);
  opacity: 0.5;
}
.headerTextContainer .button a {
  color: yellow;
  margin: 0 auto;
  font-size: 1.2rem;
}
.headerTextContainer h3 {
  font-size: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 30px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(229, 0, 124, 0.7455182757)), color-stop(58%, rgba(0, 218, 229, 0.1866947463)));
  background-image: linear-gradient(90deg, rgba(229, 0, 124, 0.7455182757) 0%, rgba(0, 218, 229, 0.1866947463) 58%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: #fff 2px 2px;
}

main .quiz {
  background-image: url(../assets/mainImgOpt1.png);
  background-size: cover;
  min-height: 105vh;
}
main .quiz .mainTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 80px;
}
main .quiz .mainTextContainer h4,
main .quiz .mainTextContainer li {
  background-color: rgba(77, 66, 73, 0.537254902);
  font-family: "Noto Sans Mono";
  font-weight: normal;
}
main .quiz .mainTextContainer .quoteContainer {
  padding: 30px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 0.25em;
}
main .quiz .mainTextContainer .quoteContainer::before {
  content: open-quote;
  position: absolute;
  top: 0;
  left: 0;
  font-size: clamp(3rem, 5vw, 4rem);
}
main .quiz .mainTextContainer .quoteContainer::after {
  content: close-quote;
  position: absolute;
  bottom: -5%;
  right: 0;
  font-size: clamp(3rem, 5vw, 4rem);
}
main .quiz .mainTextContainer .answersContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
}
main .quiz .mainTextContainer .answersContainer li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-radius: 0.25em;
  margin: clamp(10px, 2vw, 30px);
}
main .quiz .mainTextContainer .answersContainer li:hover {
  background-color: #59c9c5;
}
main .quiz .mainTextContainer .answersContainer li:focus {
  background-color: #59c9c5;
}

.hiddenMain {
  display: none;
  background-image: url(../assets/ruPaulMainStage.jpeg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-bottom: 5%;
}
.hiddenMain .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.hiddenMain .wrapper .confirmationContainer {
  margin-top: 40px;
  background-color: rgba(103, 92, 99, 0.537254902);
  border-radius: 0.25em;
}
.hiddenMain .wrapper .confirmationContainer p {
  font-size: clamp(1.1rem, 3vw, 2rem);
  padding: 0px 50px;
}
.hiddenMain .wrapper .hiddenImgContainer,
.hiddenMain .wrapper .hiddenButtonContainer,
.hiddenMain .wrapper .hiddenLearnMoreContainer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.hiddenMain .wrapper .hiddenImgContainer {
  width: 80%;
  max-width: 665px;
  min-width: 320px;
  padding: 5%;
  margin-bottom: 20px;
}
.hiddenMain .wrapper #hiddenImg {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2%;
  background-color: none;
  border: 2px solid rgba(159, 152, 163, 0.7098039216);
  -webkit-box-shadow: 15px 15px 45px -2px rgba(159, 152, 163, 0.7098039216);
          box-shadow: 15px 15px 45px -2px rgba(159, 152, 163, 0.7098039216);
}
.hiddenMain .wrapper button {
  font-size: 1.5rem;
  color: #fff;
  border: none;
  background-color: rgba(89, 201, 197, 0.6745098039);
}
.hiddenMain .wrapper button:hover {
  background-color: #59c9c5;
}
.hiddenMain .wrapper button:focus {
  background-color: #59c9c5;
}
.hiddenMain .wrapper .hiddenLearnMoreContainer {
  position: absolute;
  bottom: 4%;
  right: 5%;
}
.hiddenMain .wrapper .hiddenLearnMoreContainer p {
  font-size: clamp(0.6rem, 2vw, 1rem);
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.hiddenMain .wrapper .hiddenLearnMoreContainer p a {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 140px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(229, 0, 122, 0.6509803922);
  text-decoration: none;
  color: #fff;
}
.hiddenMain .wrapper .hiddenLearnMoreContainer p a:hover {
  color: #59c9c5;
}
.hiddenMain .wrapper .hiddenLearnMoreContainer p a:focus {
  color: #59c9c5;
}

footer .footerMainContainer {
  background-color: #c93b3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footerMainContainer img {
  max-width: 100%;
}
footer .footerMainContainer .footerTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footerMainContainer .footerTextContainer h5 {
  font-size: clamp(1.1rem, 2.5vw, 4rem);
  padding: 0px 5%;
  margin-top: 30px;
  margin-bottom: 20px;
}
footer .footerMainContainer .footerTextContainer h5 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 10px;
  font-size: clamp(1rem, 5vw, 1.2rem);
}
footer .footerMainContainer .footerTextContainer .socialMedias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-right: 30px;
}
footer .footerMainContainer .footerTextContainer .socialMedias li {
  margin: 10px;
  font-size: 2rem;
}
footer .footerMainContainer .footerTextContainer .socialMedias li a {
  color: #fff;
}
footer .footerMainContainer .footerTextContainer .socialMedias li a:hover {
  color: #59c9c5;
}
footer .footerContributions {
  background-color: #000;
  text-align: center;
  padding: 12px;
}
footer .footerContributions p {
  font-family: "Noto Sans Mono";
  letter-spacing: 0.8px;
  font-size: 0.8rem;
  line-height: 10px;
}
footer .footerContributions p span {
  font-size: 1.3rem;
  line-height: 30px;
}
footer .footerContributions p a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .footerContributions p a:hover {
  color: #e5007c;
}
footer .footerContributions p a:focus {
  color: #e5007c;
}

@media (max-width: 700px) {
  header {
    max-width: 100%;
  }
  header h2 {
    max-width: 100%;
  }
  main h4 {
    line-height: 1.3;
  }
  .answersContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .answersContainer li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 300px;
  }
  .socialMedias li {
    font-size: 1.2rem;
  }
  footer .footerMainContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footerImg {
    width: 99%;
  }
  footer .footerImg img {
    width: 100%;
  }
  footer .socialMedias {
    margin-right: 0;
    font-size: 1.5rem;
  }
  .footerContributions {
    padding-bottom: 1rem;
    width: 100% p;
    width-max-width: 90%;
  }
  .footerContributions a {
    line-height: 20px;
  }
}
@media (max-width: 400px) {
  .wrapper {
    width: 90%;
  }
  header .logoImg {
    margin-top: 10px;
    margin-left: -10px;
  }
  footer .footerTextContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    padding: 0 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footerTextContainer span {
    text-align: end;
  }
  footer h5 {
    padding: 0 10px;
  }
  footer .socialMedias {
    margin-right: 0;
  }
}